extends ../layout

block content
  .container-fluid.px-4
    .row
      .col-6
        h1.mt-4 Edit products
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Edit products
    .mb-6.mt-3
      form(action=`/products/${product.id}?_method=PUT` method="post" enctype="multipart/form-data")
        .row
          .col-4 
           .image-upload
              label(for='file-input')
                img#preview(src=`data:image/png;base64,${product.image.toString('base64')}` width='300' height='300')
              input#file-input.d-none(type='file' name="image")

              script.
                const inputTag = document.getElementById('file-input');
                const previewImageTag = document.getElementById('preview');
                inputTag.onchange = () => {
                    const [file] = inputTag.files
                    if (file) {
                      previewImageTag.src = URL.createObjectURL(file)
                    }
                }
          .col-8
            .col-12.mt-2
              .form-group
                label.mb-2(for='full-name') products Name
                input#full-name.form-control(type='text' name='name' placeholder='Input your products name' value=product.name )
            .col-12.mt-2
              .form-group
                label.mb-2(for='email') Price
                input.form-control.w-100(name='price' placeholder='Input your price' value=`${product.price}.000đ`)
            .col-12.mt-2
              .form-group
                label.mb-2(for='email') Description
                textarea.form-control.w-100(name='description' placeholder='Input your description' rows="6" cols="70")= product.description
            .col-12.mt-5
              button.btn.btn-primary.w-100(type="submit") Submit
