extends ../layout

block content
  .page-wrapper
    include ../partials/header
    main.main
      nav.breadcrumb-nav.border-0.mb-0(aria-label='breadcrumb')
        .container.d-flex.align-items-center
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Home
            li.breadcrumb-item
              a(href='#') Products
            li.breadcrumb-item.active(aria-current='page') Extended Description
          nav.product-pager.ml-auto(aria-label='Product')
            a.product-pager-link.product-pager-prev(href='#' aria-label='Previous' tabindex='-1')
              i.icon-angle-left
              span Prev
            a.product-pager-link.product-pager-next(href='#' aria-label='Next' tabindex='-1')
              span Next
              i.icon-angle-right
          // End .pager-nav
        // End .container
      // End .breadcrumb-nav
      .page-content
        .container
          .product-details-top.mb-2
            .row
              .col-md-6
                .product-gallery
                  figure.product-main-image
                    img#product-zoom(src=`data:image/png;base64,${product.image.toString('base64')}` data-zoom-image='/images/products/single/extended/3-big.jpg' alt='product image')
                    //- a#btn-product-gallery.btn-product-gallery(href='#')
                    //-   i.icon-arrows
                    //- #product-zoom-gallery.product-image-gallery
                      a.product-gallery-item(href='#' data-image='/images/products/single/extended/1.jpg' data-zoom-image='/images/products/single/extended/1-big.jpg')
                        img(src='/images/products/single/extended/1-small.jpg' alt='product side')
                      a.product-gallery-item(href='#' data-image='/images/products/single/extended/2.jpg' data-zoom-image='/images/products/single/extended/2-big.jpg')
                        img(src='/images/products/single/extended/2-small.jpg' alt='product cross')
                      a.product-gallery-item.active(href='#' data-image='/images/products/single/extended/3.jpg' data-zoom-image='/images/products/single/extended/3-big.jpg')
                        img(src='/images/products/single/extended/3-small.jpg' alt='product with model')
                      a.product-gallery-item(href='#' data-image='/images/products/single/extended/4.jpg' data-zoom-image='/images/products/single/extended/4-big.jpg')
                        img(src='/images/products/single/extended/4-small.jpg' alt='product back')
                  // End .product-main-image
                 
                  // End .product-image-gallery
                // End .product-gallery
              // End .col-md-6
              .col-md-6
                form(action="/carts", method="post") 
                  .product-details
                    h1.product-title= product.name
                    // End .product-title
                    .ratings-container
                      .ratings
                        .ratings-val(style='width: 80%;')
                        // End .ratings-val
                      // End .ratings
                      a#review-link.ratings-text(href='#product-review-link') ( 2 Reviews )
                    // End .rating-container
                    .product-price= product.price
                      |.000đ
                    // End .product-price
                    .product-content
                      p= product.description
                    // End .product-content
                    .details-filter-row.details-row-size
                      label(for='qty') Qty:
                      .product-details-quantity
                        input#qty.form-control(type='number' name="quantity" value='1' min='1' max='20' step='1' data-decimals='0' required='')
                      // End .product-details-quantity
                    // End .details-filter-row
                    .product-details-action
                      input(type="hidden", name="productId" value=product.id)
                      button.btn-product.btn-cart(type="submit")
                        span add to cart
                  // End .product-details-action
                  .product-details-footer
                    .product-cat
                      span Category:
                      a(href='#')= product.category.name
                    // End .product-cat
                    .social-icons.social-icons-sm
                      span.social-label Share:
                      a.social-icon(href='#' title='Facebook' target='_blank')
                        i.icon-facebook-f
                      a.social-icon(href='#' title='Twitter' target='_blank')
                        i.icon-twitter
                      a.social-icon(href='#' title='Instagram' target='_blank')
                        i.icon-instagram
                      a.social-icon(href='#' title='Pinterest' target='_blank')
                        i.icon-pinterest
                  // End .product-details-footer
                // End .product-details
              // End .col-md-6
            // End .row
          // End .product-details-top
        // End .container
        .product-details-tab.product-details-extended
          .container
            ul.nav.nav-pills.justify-content-center(role='tablist')
              li.nav-item
                a#product-desc-link.nav-link.active(data-toggle='tab' href='#product-desc-tab' role='tab' aria-controls='product-desc-tab' aria-selected='true') Description
              li.nav-item
                a#product-info-link.nav-link(data-toggle='tab' href='#product-info-tab' role='tab' aria-controls='product-info-tab' aria-selected='false') Additional information
              li.nav-item
                a#product-shipping-link.nav-link(data-toggle='tab' href='#product-shipping-tab' role='tab' aria-controls='product-shipping-tab' aria-selected='false') Shipping &amp; Returns
              li.nav-item
                a#product-review-link.nav-link(data-toggle='tab' href='#product-review-tab' role='tab' aria-controls='product-review-tab' aria-selected='false') Reviews (2)
          // End .container
          .tab-content
            #product-desc-tab.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='product-desc-link')
              .product-desc-content
                .product-desc-row.bg-image(style="background-image: url('/images/products/single/extended/bg-1.jpg')")
                  .container
                    .row.justify-content-end
                      .col-sm-6.col-lg-4
                        h2 Product Information
                        ul
                          li Faux suede fabric upper
                          li Tie strap buckle detail
                          li Block heel
                          li Open toe
                          li Heel Height: 7cm / 2.5 inches
                      // End .col-lg-4
                    // End .row
                  // End .container
                // End .product-desc-row
                .product-desc-row.bg-image.text-white(style="background-image: url('/images/products/single/extended/bg-2.jpg')")
                  .container
                    .row
                      .col-md-6
                        h2 Design
                        p
                          | The perfect choice for the summer months. These wedges are perfect for holidays and home, with the thick cross-over strap design and heel strap with an adjustable buckle fastening. Featuring chunky soles with an espadrille and cork-style wedge.
                      // End .col-md-6
                      .col-md-6
                        h2 Fabric &amp; care
                        p
                          | As part of our Forever Comfort collection, these wedges have ultimate cushioning with soft padding and flexi soles. Perfect for strolls into the old town on holiday or a casual wander into the village.
                      // End .col-md-6
                    // End .row
                    .mb-5
                    // End .mb-3
                    img.ml-auto.mr-auto(src='/images/products/single/extended/sign.png' alt='')
                  // End .container
                // End .product-desc-row
                .product-desc-row.bg-image(style="background-image: url('/images/products/single/extended/bg-3.jpg')")
                  .container
                    .row
                      .col-lg-5
                        blockquote
                          p
                            | &ldquo; Everything is important - 
                            br
                            | that success is in the details. &rdquo;
                          cite &ndash; Steve Jobs
                        p
                          | Nullam mollis. Ut justo. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.
                      // End .col-lg-5
                    // End .row
                  // End .container
                // End .product-desc-row
              // End .product-desc-content
            // .End .tab-pane
            #product-info-tab.tab-pane.fade(role='tabpanel' aria-labelledby='product-info-link')
              .product-desc-content
                .container
                  h3 Information
                  p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                  h3 Fabric &amp; care
                  ul
                    li Faux suede fabric
                    li Gold tone metal hoop handles.
                    li RI branding
                    li Snake print trim interior 
                    li Adjustable cross body strap
                    li  Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm
                  h3 Size
                  p one size
                // End .container
              // End .product-desc-content
            // .End .tab-pane
            #product-shipping-tab.tab-pane.fade(role='tabpanel' aria-labelledby='product-shipping-link')
              .product-desc-content
                .container
                  h3 Delivery &amp; returns
                  p
                    | We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our 
                    a(href='#') Delivery information
                    br
                    |                                     We hope you&rsquo;ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our 
                    a(href='#') Returns information
                // End .container
              // End .product-desc-content
            // .End .tab-pane
            #product-review-tab.tab-pane.fade(role='tabpanel' aria-labelledby='product-review-link')
              .reviews
                .container
                  h3 Reviews (2)
                  .review
                    .row.no-gutters
                      .col-auto
                        h4
                          a(href='#') Samanta J.
                        .ratings-container
                          .ratings
                            .ratings-val(style='width: 80%;')
                            // End .ratings-val
                          // End .ratings
                        // End .rating-container
                        span.review-date 6 days ago
                      // End .col
                      .col
                        h4 Good, perfect size
                        .review-content
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!
                        // End .review-content
                        .review-action
                          a(href='#')
                            i.icon-thumbs-up
                            | Helpful (2)
                          a(href='#')
                            i.icon-thumbs-down
                            | Unhelpful (0)
                        // End .review-action
                      // End .col-auto
                    // End .row
                  // End .review
                  .review
                    .row.no-gutters
                      .col-auto
                        h4
                          a(href='#') John Doe
                        .ratings-container
                          .ratings
                            .ratings-val(style='width: 100%;')
                            // End .ratings-val
                          // End .ratings
                        // End .rating-container
                        span.review-date 5 days ago
                      // End .col
                      .col
                        h4 Very good
                        .review-content
                          p
                            | Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!
                        // End .review-content
                        .review-action
                          a(href='#')
                            i.icon-thumbs-up
                            | Helpful (0)
                          a(href='#')
                            i.icon-thumbs-down
                            | Unhelpful (0)
                        // End .review-action
                      // End .col-auto
                    // End .row
                  // End .review
                // End .container
              // End .reviews
            // .End .tab-pane
          // End .tab-content
        // End .product-details-tab
        .container
          h2.title.text-center.mb-4 You May Also Like
          // End .title text-center
          .owl-carousel.owl-simple.carousel-equal-height.carousel-with-shadow(data-toggle='owl' data-owl-options='{\
          "nav": false, \
          "dots": true,\
          "margin": 20,\
          "loop": false,\
          "responsive": {\
          "0": {\
          "items":1\
          },\
          "480": {\
          "items":2\
          },\
          "768": {\
          "items":3\
          },\
          "992": {\
          "items":4\
          },\
          "1200": {\
          "items":4,\
          "nav": true,\
          "dots": false\
          }\
          }\
          }')
            .product.product-7
              figure.product-media
                span.product-label.label-new New
                a(href='product.html')
                  img.product-image(src='/images/products/product-4.jpg' alt='Product image')
                .product-action-vertical
                  a.btn-product-icon.btn-wishlist.btn-expandable(href='#')
                    span add to wishlist
                  a.btn-product-icon.btn-quickview(href='popup/quickView.html' title='Quick view')
                    span Quick view
                  a.btn-product-icon.btn-compare(href='#' title='Compare')
                    span Compare
                // End .product-action-vertical
                .product-action
                  a.btn-product.btn-cart(href='#')
                    span add to cart
                // End .product-action
              // End .product-media
              .product-body
                .product-cat
                  a(href='#') Women
                // End .product-cat
                h3.product-title
                  a(href='product.html')
                    | Brown paperbag waist 
                    br
                    | pencil skirt
                // End .product-title
                .product-price
                  | $60.00
                // End .product-price
                .ratings-container
                  .ratings
                    .ratings-val(style='width: 20%;')
                    // End .ratings-val
                  // End .ratings
                  span.ratings-text ( 2 Reviews )
                // End .rating-container
                .product-nav.product-nav-dots
                  a.active(href='#' style='background: #cc9966;')
                    span.sr-only Color name
                  a(href='#' style='background: #7fc5ed;')
                    span.sr-only Color name
                  a(href='#' style='background: #e8c97a;')
                    span.sr-only Color name
                // End .product-nav
              // End .product-body
            // End .product
            .product.product-7
              figure.product-media
                span.product-label.label-out Out of Stock
                a(href='product.html')
                  img.product-image(src='/images/products/product-6.jpg' alt='Product image')
                .product-action-vertical
                  a.btn-product-icon.btn-wishlist.btn-expandable(href='#')
                    span add to wishlist
                  a.btn-product-icon.btn-quickview(href='popup/quickView.html' title='Quick view')
                    span Quick view
                  a.btn-product-icon.btn-compare(href='#' title='Compare')
                    span Compare
                // End .product-action-vertical
                .product-action
                  a.btn-product.btn-cart(href='#')
                    span add to cart
                // End .product-action
              // End .product-media
              .product-body
                .product-cat
                  a(href='#') Jackets
                // End .product-cat
                h3.product-title
                  a(href='product.html') Khaki utility boiler jumpsuit
                // End .product-title
                .product-price
                  span.out-price $120.00
                // End .product-price
                .ratings-container
                  .ratings
                    .ratings-val(style='width: 80%;')
                    // End .ratings-val
                  // End .ratings
                  span.ratings-text ( 6 Reviews )
                // End .rating-container
              // End .product-body
            // End .product
            .product.product-7
              figure.product-media
                span.product-label.label-top Top
                a(href='product.html')
                  img.product-image(src='/images/products/product-11.jpg' alt='Product image')
                .product-action-vertical
                  a.btn-product-icon.btn-wishlist.btn-expandable(href='#')
                    span add to wishlist
                  a.btn-product-icon.btn-quickview(href='popup/quickView.html' title='Quick view')
                    span Quick view
                  a.btn-product-icon.btn-compare(href='#' title='Compare')
                    span Compare
                // End .product-action-vertical
                .product-action
                  a.btn-product.btn-cart(href='#')
                    span add to cart
                // End .product-action
              // End .product-media
              .product-body
                .product-cat
                  a(href='#') Shoes
                // End .product-cat
                h3.product-title
                  a(href='product.html') Light brown studded Wide fit wedges
                // End .product-title
                .product-price
                  | $110.00
                // End .product-price
                .ratings-container
                  .ratings
                    .ratings-val(style='width: 80%;')
                    // End .ratings-val
                  // End .ratings
                  span.ratings-text ( 1 Reviews )
                // End .rating-container
                .product-nav.product-nav-dots
                  a.active(href='#' style='background: #8b513d;')
                    span.sr-only Color name
                  a(href='#' style='background: #333333;')
                    span.sr-only Color name
                  a(href='#' style='background: #d2b99a;')
                    span.sr-only Color name
                // End .product-nav
              // End .product-body
            // End .product
            .product.product-7
              figure.product-media
                a(href='product.html')
                  img.product-image(src='/images/products/product-10.jpg' alt='Product image')
                .product-action-vertical
                  a.btn-product-icon.btn-wishlist.btn-expandable(href='#')
                    span add to wishlist
                  a.btn-product-icon.btn-quickview(href='popup/quickView.html' title='Quick view')
                    span Quick view
                  a.btn-product-icon.btn-compare(href='#' title='Compare')
                    span Compare
                // End .product-action-vertical
                .product-action
                  a.btn-product.btn-cart(href='#')
                    span add to cart
                // End .product-action
              // End .product-media
              .product-body
                .product-cat
                  a(href='#') Jumpers
                // End .product-cat
                h3.product-title
                  a(href='product.html') Yellow button front tea top
                // End .product-title
                .product-price
                  | $56.00
                // End .product-price
                .ratings-container
                  .ratings
                    .ratings-val(style='width: 0%;')
                    // End .ratings-val
                  // End .ratings
                  span.ratings-text ( 0 Reviews )
                // End .rating-container
              // End .product-body
            // End .product
            .product.product-7
              figure.product-media
                a(href='product.html')
                  img.product-image(src='/images/products/product-7.jpg' alt='Product image')
                .product-action-vertical
                  a.btn-product-icon.btn-wishlist.btn-expandable(href='#')
                    span add to wishlist
                  a.btn-product-icon.btn-quickview(href='popup/quickView.html' title='Quick view')
                    span Quick view
                  a.btn-product-icon.btn-compare(href='#' title='Compare')
                    span Compare
                // End .product-action-vertical
                .product-action
                  a.btn-product.btn-cart(href='#')
                    span add to cart
                // End .product-action
              // End .product-media
              .product-body
                .product-cat
                  a(href='#') Jeans
                // End .product-cat
                h3.product-title
                  a(href='product.html') Blue utility pinafore denim dress
                // End .product-title
                .product-price
                  | $76.00
                // End .product-price
                .ratings-container
                  .ratings
                    .ratings-val(style='width: 20%;')
                    // End .ratings-val
                  // End .ratings
                  span.ratings-text ( 2 Reviews )
                // End .rating-container
              // End .product-body
            // End .product
          // End .owl-carousel
        // End .container
      // End .page-content
    // End .main

    include ../partials/footer

