extends ../layout

block content
  .page-wrapper
    include ../partials/header
    main.main
      .page-header.text-center(style="background-image: url('assets/images/page-header-bg.jpg')")
        .container
          h1.page-title
            | Checkout
            span Shop
        // End .container
      // End .page-header
      nav.breadcrumb-nav(aria-label='breadcrumb')
        .container
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Home
            li.breadcrumb-item
              a(href='#') Shop
            li.breadcrumb-item.active(aria-current='page') Checkout
        // End .container
      // End .breadcrumb-nav
      .page-content
        .checkout
          .container
            form(action='/orders' method="post")
              .row
                .col-lg-9
                  h2.checkout-title Billing Details
                  // End .checkout-title
                  .row
                    .col-sm-12
                      label Name *
                      input.form-control(type='text' required='' name="name")
                    // End .col-sm-6
                  // End .row
                  label Street address *
                  input.form-control(type='text' name='address' placeholder='House number and Street name' required='')
                  .row
                    .col-sm-6
                      label Email *
                      input.form-control(type='text' required='')
                    // End .col-sm-6
                    .col-sm-6
                      label Phone *
                      input.form-control(type='tel' required='' name='phoneNumber')
                    // End .col-sm-6
                  // End .row
                  label receiver Name *
                  input.form-control(type='text' required='' name='receiverName')
                  label Order notes (optional)
                  textarea.form-control(cols='30' rows='4' placeholder='Notes about your order, e.g. special notes for delivery')
                // End .col-lg-9
                aside.col-lg-3
                  .summary
                    h3.summary-title Your Order
                    // End .summary-title
                    table.table.table-summary
                      thead
                        tr
                          th Product
                          th Total
                      tbody
                        - Subtotal=0;
                        each cart in carts
                          tr
                            td
                              a(href='#').text-right= cart.product.name
                                span 
                                  |&emsp; x
                                  = cart.quantity
                            td= cart.product.price*cart.quantity
                              |.000đ
                          - Subtotal=Subtotal+cart.product.price*cart.quantity;
                        tr.summary-total
                          td Total:
                          td= Subtotal
                            |.000đ
                        // End .summary-subtotal
                        // End .summary-total
                    each cart in carts
                      input(type="hidden", name="productId" value=cart.productId)
                      input(type="hidden", name="quantity" value=cart.quantity)
                      input(type="hidden", name="currentPrice" value=cart.product.price*cart.quantity)
                    button.btn.btn-outline-primary-2.btn-order.btn-block(type='submit')
                      span.btn-text Place Order
                      span.btn-hover-text Proceed to Checkout
                  // End .summary
                // End .col-lg-3
              // End .row
          // End .container
        // End .checkout
      // End .page-content
    // End .main

    include ../partials/footer

