extends ../layout

block content
  .page-wrapper
    include ../partials/header
    main.main
      .page-header.text-center(style="background-image: url('assets/images/page-header-bg.jpg')")
        .container
          h1.page-title
            | Shopping Cart
            span Shop
        // End .container
      // End .page-header
      nav.breadcrumb-nav(aria-label='breadcrumb')
        .container
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Home
            li.breadcrumb-item
              a(href='#') Shop
            li.breadcrumb-item.active(aria-current='page') Shopping Cart
        // End .container
      // End .breadcrumb-nav
      .page-content
        .cart
          .container
            .row
              .col-lg-9
                table.table.table-cart.table-mobile
                  thead
                    tr
                      th Product
                      th Price
                      th Quantity
                      th Total
                      th
                  tbody
                    each cart in carts
                      tr
                        td.product-col
                          .product
                            figure.product-media
                              a(href='#')
                                if(cart.product.image)
                                  img.product-image(src=`data:image/png;base64,${cart.product.image.toString('base64')}`, alt=`product_${cart.product.name}` )
                            h3.product-title
                              a(href='#')= cart.product.name
                            // End .product-title
                          // End .product
                        td.price-col= cart.product.price
                          |.000đ
                        td.quantity-col
                          .cart-product-quantity
                            input.form-control(type='number' value=cart.quantity min='1' max='10' step='1' data-decimals='0' required='')
                          // End .cart-product-quantity
                        td.total-col= cart.product.price*cart.quantity
                          |.000đ
                        td.remove-col
                          button.btn-remove
                            i.icon-close
                    
                .cart-bottom
                  .cart-discount
                    form(action='#')
                      .input-group
                        input.form-control(type='text' required='' placeholder='coupon code')
                        .input-group-append
                          button.btn.btn-outline-primary-2(type='submit')
                            i.icon-long-arrow-right
                        // .End .input-group-append
                      // End .input-group
                  // End .cart-discount
                  a.btn.btn-outline-dark-2(href='#')
                    span UPDATE CART
                    i.icon-refresh
                // End .cart-bottom
              // End .col-lg-9
              aside.col-lg-3
                .summary.summary-cart
                  h3.summary-title Cart Total
                  // End .summary-title
                  table.table.table-summary
                    tbody
                      tr.summary-subtotal
                        td Subtotal:
                        td $160.00
                      // End .summary-subtotal
                      tr.summary-shipping
                        td Shipping:
                        td &nbsp;
                      tr.summary-shipping-row
                        td
                          .custom-control.custom-radio
                            input#free-shipping.custom-control-input(type='radio' name='shipping')
                            label.custom-control-label(for='free-shipping') Free Shipping
                          // End .custom-control
                        td $0.00
                      // End .summary-shipping-row
                      tr.summary-shipping-row
                        td
                          .custom-control.custom-radio
                            input#standart-shipping.custom-control-input(type='radio' name='shipping')
                            label.custom-control-label(for='standart-shipping') Standart:
                          // End .custom-control
                        td $10.00
                      // End .summary-shipping-row
                      tr.summary-shipping-row
                        td
                          .custom-control.custom-radio
                            input#express-shipping.custom-control-input(type='radio' name='shipping')
                            label.custom-control-label(for='express-shipping') Express:
                          // End .custom-control
                        td $20.00
                      // End .summary-shipping-row
                      tr.summary-shipping-estimate
                        td
                          | Estimate for Your Country
                          br
                          a(href='dashboard.html') Change address
                        td &nbsp;
                      // End .summary-shipping-estimate
                      tr.summary-total
                        td Total:
                        td $160.00
                      // End .summary-total
                  // End .table table-summary
                  a.btn.btn-outline-primary-2.btn-order.btn-block(href='checkout.html') PROCEED TO CHECKOUT
                // End .summary
                a.btn.btn-outline-dark-2.btn-block.mb-3(href='category.html')
                  span CONTINUE SHOPPING
                  i.icon-refresh
              // End .col-lg-3
            // End .row
          // End .container
        // End .cart
      // End .page-content
    // End .main

    include ../partials/footer

