extends ../layout

block content
  .container-fluid.px-4
    .row
      .col-6
        h1.mt-4= catename.name
        ol.breadcrumb.mb-4
          li.breadcrumb-item.active Products
      .col-6
        a.btn.btn-primary.add(type="submit" href="/products/new" ) Add product
    .card.mb-4
      .card-header
        i.fas.fa-table.me-1
        |Products list
      .card-body
        table#datatablesSimple.table
          thead
            tr
              th Id
              th Name
              th Description
              th Price
              th Image 
              th Category 
              th
              
          tfoot
              th Id
              th Name
              th Description
              th Price
              th Image 
              th Category 
              th
          tbody
            each product in products
              tr
                td= product.id
                td= product.name
                td= product.description 
                td= product.price 
                  |.000đ
                td 
                  if(product.image)
                   img(src=`data:image/png;base64,${product.image.toString('base64')}`, alt=`product_${product.name}`  width='150' height='150')
                td= product.category.name 
                td
                  div.d-flex.justify-content-around
                    form(action=`/products/${product.id}/edit`, method="get")
                      button.btn.btn-info(type="submit") Edit
                    form(action=`/products/${product.id}?_method=DELETE`, method="post")
                      button.btn.btn-danger(type="submit") Delete
                  

                
